DATABASE_URL=postgresql+asyncpg://postgresuser:postgrespassword@postgres:5432/postgresdb
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=postgresdb

MONGODB_URL=mongodb://mongouser:mongopassword@mongodb:27017/mongodb?authSource=admin
MONGO_USER=mongouser
MONGO_PASSWORD=mongopassword
MONGO_DB=mongodb

API_TOKEN_INN=def9dfc9fdaeab299ffcffe28f8504a4ceee6918

USER_NAME=troshkin_a_s
USER_PASS=123456
SEND_FROM=TEST
SECRET_KEY=SECRET
ALGORITHM=HS256

FROM_EMAIL=
EMAIL_PASSWORD=
EMAIL_HOST=

EXAMPLE_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZXhwIjoxNzM1OTIxMzg5LCJ0eXBlIjoicmVmcmVzaCJ9.SDZcJf2hmbnYYer5R-VZKyQL2ztSu3WgzcZ6tFojx38